{

  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vitest-globals/recommended"
  ],
  "globals": {
    "window": true,
    "document": true,
    "dispatcher": true,
    "console": true,
    "fetch": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "vitest", "react", "react-hooks", "@typescript-eslint"],
  "overrides": [
    {
      "files": ["setupTests.js", "webpack.*.config.js"],
      "env": {
        "vitest-globals/env": true
      },
      "rules": {
        "react/react-in-jsx-scope": "off",
        "no-undef": "off",
        "array-bracket-newline": "off"
      }
    }
  ]
}
