@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
    --font-body: "Manrope", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mono:
        ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
        monospace;
    --color-virtool: #3c8786;
}

html {
    font-size: 14px;
}

body {
    height: calc(100vh - 40px);
}

@layer base {
    h1 {
        font-size: var(--text-4xl);
    }

    h2 {
        font-size: var(--text-3xl);
        font-weight: var(--font-weight-medium);
    }

    h5 {
        font-size: var(--text-base);
        font-weight: var(--font-weight-medium);
        margin: 5px 0 10px;
    }

    label {
        display: inline-block;
        font-weight: var(--font-weight-medium);
        margin-bottom: calc(var(--spacing) * 2);
    }

    p {
        margin: 0 0 10px;
    }

    a {
        cursor: pointer;
        color: var(--color-blue-700);

        &:hover,
        &:focus {
            color: var(--color-blue-900);
        }
    }
    small {
        font-size: var(--text-sm);
    }
}
