@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-VariableFont_opsz,wght.ttf")
		format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
		format("truetype-variations");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	--color-virtool: #3c8786;

	--animate-overlayShow: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	--animate-contentShow: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	--animate-slideDown: slideDown 100ms ease-in;
	--animate-rotate: rotate 0.75s linear infinite;
	--animate-fade: fade 1.25s ease-in-out infinite alternate;
	--animate-contentOpen: contentOpen 150ms cubic-bezier(0.16, 1, 0.3, 1);
	--animate-comboBoxContentOpen: comboBoxContentOpen 150ms
		cubic-bezier(0.16, 1, 0.3, 1);
	--animate-slideUpAndFade: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
	--animate-slideDownAndFade: slideDownAndFade 400ms
		cubic-bezier(0.16, 1, 0.3, 1);
	--animate-slideRightAndFade: slideRightAndFade 400ms
		cubic-bezier(0.16, 1, 0.3, 1);
	--animate-slideLeftAndFade: slideLeftAndFade 400ms
		cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fade {
	from {
		opacity: 0.6;
		transform: scale(1);
	}
	to {
		opacity: 1;
		transform: scale(1.1);
	}
}

@keyframes contentOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes comboBoxContentOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

html {
	font-size: 14px;
}

body {
	height: calc(100vh - 40px);
}

@layer base {
	h1 {
		font-size: var(--text-4xl);
	}

	h2 {
		font-size: var(--text-3xl);
		font-weight: var(--font-weight-medium);
	}

	h5 {
		font-size: var(--text-base);
		font-weight: var(--font-weight-medium);
		margin: 5px 0 10px;
	}

	label {
		display: inline-block;
		font-weight: var(--font-weight-medium);
		margin-bottom: calc(var(--spacing) * 2);
	}

	p {
		margin: 0 0 10px;
	}

	a {
		cursor: pointer;
		color: var(--color-blue-700);

		&:hover,
		&:focus {
			color: var(--color-blue-900);
		}
	}
	small {
		font-size: var(--text-sm);
	}
}

.quality-chart {
	.axis path,
	.axis line {
		fill: none;
		stroke: var(--color-black);
		shape-rendering: crispEdges;
	}

	.axis-label {
		text-anchor: middle;
	}

	.graph-line {
		fill: none;
		shape-rendering: geometricPrecision;
		stroke-width: 2px;
	}

	.graph-line-blue {
		stroke: var(--color-blue-600);
	}

	.graph-line-green {
		stroke: var(--color-green-600);
	}

	.graph-line-yellow {
		stroke: var(--color-yellow-400);
	}

	.graph-line-red {
		stroke: var(--color-red-600);
	}

	.quality-area {
		stroke: none;
	}

	.quality-area-yellow {
		fill: var(--color-yellow-50);
	}

	.quality-area-green {
		fill: var(--color-green-100);
	}
}
