---
const { source, name } = Astro.props;
---

<div class="flex">
  <span
    class="bg-indigo-500 border-2 border-indigo-500 text-white font-medium px-2"
    >{source}</span
  >
  <span class="border-2 border-indigo-500 borderfont-mono px-2">
    {name}
  </span>
</div>
